# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Eclipse specific
.project
.classpath
.settings/

# IntelliJ specific
.idea/
*.iml

# VSCode specific
.vscode/

# Compiled Java classes
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Temporary files
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
